@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    font-family: 'Concert One', cursive;
    background-color: #11009E;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 40px;
}

.subtitulo{
    color: white;
    font-size: 36px;
}

.tarjetas{
    display: flex;
    gap : 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #4942E4;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}

#boton-mascota{
    background: blueviolet;
    padding: 5px;
    margin: 10px;
    border: 2px chocolate solid;
}    